<h3>New Recommendation</h3>

<form action="/recommendations" method="POST">
  <label for="location">Location</label>
  <input type="text" name="location" id="location">
  <br>
  <label for="content">Content</label>
  <input type="text" name="content" id="content">
  <br>
  <label for="rating">Rating</label>
  <input type="text" name="rating" id="rating">
  <br>
  <input type="submit" value="Add Recommendation">
</form>
