<h1>Welcome to My_World</h1>

<h3>The App that let's you create recommendations from your trips</h3>
<br>
<p>To start please Log In or SignUp</p>
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
